@use '../abstracts/variables' as *;
// Mixins Responsivos

// Tablet y móviles grandes (≤ 768px)
@mixin responsive-md {
    .menu-icon {
    display: block;
    font-size: 1.75rem;
    cursor: pointer;
    color: $text-color-green;
    padding: 0.5rem 1rem;
    align-self: flex-end;
    }

    .header__nav {
    width: 100%;
    }

    .nav__list {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color: $primary-color;
    padding: 1rem 2rem;
    border-top: 1px solid #ccc;
    }

    #menu-toggle:checked + .menu-icon + .header__nav .nav__list {
    display: flex;
    }

    .main__section {
    padding: 1.25rem;
    }

    .main__title,
    .contact__title {
    font-size: 1.5rem;
    }

    .contact__form {
    padding: 0 1rem;
    }
}

// Móviles pequeños (≤ 480px)
@mixin responsive-sm {
    .header__name {
    font-size: 1.25rem;
    }

    .nav__list {
    align-items: flex-start;
    }

    .main__title {
    font-size: 1.25rem;
    }

    .footer__social-list {
        flex-direction: column;
        gap: 0.75rem;
    }
}