$primary-color: #0A2E55; //Fondo header y footer
$secondary-color: #fefefe; //Color de fondo de secciones
$tertiary-color: #f9f9f9;   //Color de fondo pagina general

$text-color-gris: #333333; 
$text-color-copyright: #777; //Color copyright
$text-color: #ffffff; //Color de texto

