$primary-color: #ffffff; //Fondo header y footer
$secondary-color: #eaf4ec; //Color de fondo de secciones
$tertiary-color: #f9f9f9;   //Color de fondo pagina general

$text-color-green: #638763; //Color nav
$text-color-green-hover: #446548; // color nav hover link
$text-color-copyright: #777; //Color copyright
$text-title: #4a6a54; //Color de título
$text-color: #333; //Color de texto

$font-size-base: 1rem; //Tamaño de fuente base  
$font-weight-bold: bold; //Grosor de fuente

$margin-bottom: 1rem; //Margen inferior de elementos