/* Responsividad */
@media (max-width: 1024px) {
    .grid-productos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .contenedor-principal {
        width: 95%;
        padding: 10px;
    }

    button {
        margin-bottom: 10px;
        width: 100%;
    }

    .botones {
        display: flex;
        flex-direction: column;
    }

    .grid-productos {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .footer__social {
        flex-direction: column;
        align-items: center;
    }

    .footer__container {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .footer__copyright {
        padding: 10px 0;
    }

    .formulario__form {
        width: 90%;
    }

    header h1 {
        font-size: 1.5rem;
    }
}    
/* Responsive navbar */
@media (max-width: 768px) {
    .nav {
        display: none;
        width: 100%;
        margin-top: 10px;
    }

    #menu-toggle:checked ~ .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__list {
        flex-direction: column;
        width: 100%;
    }

    .menu-icon {
        display: block;
    }
}
